/* import font from Google Font API */
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Marhey:wght@500&display=swap');

/* Main properties for basic responsivity */
body{
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
    margin: 0;
    height: 100vh;
}

/* Title Style */
.title{
    font-family: "Luckiest Guy";
    color: rgb(104, 47, 47);
    font-size: 10lvh;
    margin: auto;
    margin-top: 2lvh;
    animation-duration: 1s;
    animation-name: titleAnimation;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    text-shadow: 3px 3px 10px black;
    text-align: center;
}
@keyframes titleAnimation {
    from{
        color: white;
        transform: rotate(-4deg);
    }
    to{
        color: yellow;
        transform: rotate(4deg);
    }
}

/*  Notifier Style */
.notifier{
    color: black;
    font-family: Marhey;
    background-color: rgb(238, 255, 0);
    max-width: fit-content;
    margin: auto;
    border-radius: 30px;
    padding: 1lvh;
    margin-bottom: 10px;
    font-size: 3lvh;
}

/*------------- INSTRUCIOTN OVERLAY ---------------*/
.overlayInstruction{
    background-color: rgba(0, 0, 0, 0.808);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.instructionContainer{
    background-color: white;
    border-radius: 30px;
    font-size: 2.5lvh;
    padding: 2lvh;
    max-width: 80%;
    margin: auto;
    margin-top: 2lvh;
}

#showOverlayButton{
    width: 8lvw;
    height: 8lvh;
    position: fixed;
    left: 1lvh;
    top: 1lvh;
}

/* Main form with settings */
.formPlayer{
    border-radius: 15px;
    background-color: white;
    box-shadow: 5px 5px 20px black;
    width: 70%;
    margin: auto; 
    font-family: Marhey;
    font-size: 2lvh;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 1em;
}

.playersContainer, .players{
    font-size: 3lvh;
    display: flex;
    flex-direction: column;
}

.playerName{
    box-shadow: 3px 3px 5px black;
    border-radius: 5px;
    padding: 0.8em;
    width: 60%;
    margin: auto;
    margin-bottom: 10px;
    border-style: solid;
    border-color: red;
    font-family: Marhey;
    font-size: 2lvh;
}
.button{
    display: flex;
    justify-content: space-evenly;
}
img{
    width: 10lvw;
    height: 10lvh;
    cursor: pointer;
    transition-property: transform;
    transition-duration: 500ms;
}
img:hover{ transform: scale(1.3,1.3); }

.fullscreenButton{
    width: 5lvw;
    height: 5lvh;
    position: fixed;
    right: 2lvw;
    top: 1lvh;
}

/*------------------GAME SCENE CSS---------------------*/
.gameScene{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.wordContainer, .scores, #endRoundBox{
    border-radius: 15px;
    background-color: white;
    box-shadow: 5px 5px 20px black;
    font-family: Marhey;
    text-align: center;
    padding: 1em;
}
.scores, #endRoundBox{ 
    min-width: fit-content;    
    margin-left: 2lvh;
}

table, tr{
    min-width: 10em;
    font-size: 2lvh;
    cursor: pointer;
}
caption{ color: red; }

#bombSVG{
    margin: auto;
    width: 40lvw;
    height: 40lvh;
}
.minimize{
    font-size: 4lvw;
    animation-direction:alternate;
}

#dice{ 
    color: red; 
    font-size: 4lvh;
}
#word{ font-size: 8lvh; }

footer{
    text-align: center;
    font-size: 3lvh;
    color: white;
    margin-top: 8lvw;
}

/* Media query to apply responsive properties */
@media only screen and (max-width: 414px), (orientation: portrait){
    .title{
        font-size: 6lvh;
    }
    .gameScene{
        flex-direction: column;
        max-width: min-content;
        max-height: fit-content;
        margin: auto;
    }
    .scores{
        margin-left: 0;
        margin-top: 2lvh;
    }
    table, tr{
        font-size: 2lvh;
    }
}